.go-fetch-btn {
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  background: #1ECD97;
  font-family: 'Roboto',
  sans-serif;
  margin-top:30px;
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  border: 2px solid #c4c4c4;
  color: white;
  letter-spacing:1px;
  text-shadow:0;
  font {
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color: white;
    background: #000000;
  }
  &:active {
    letter-spacing: 2px ;
  }
}

.onclic {
  width: 40px;
  border-color: #fff;
  border-width:3px;
  font-size:0;
  border-left-color: #1ECD97;
  animation: rotating 2s 0.25s linear infinite;
  &:after {
    content:"";
  }
  &:hover {
    color:#1ECD97;
    background: white;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trip-section{
  width:100vw;
  height:100vh;
  overflow:hidden;
}

.choose-path-container,
.create-trip-section {
  position:absolute;
  transition: 2s ease all;
  width: 100vw;
}

.path-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.7em;
  width: 340px;
  margin: 0 auto;
  margin-top: 50px;

  opacity: 0.8;
  span {
    width:200px;

  }
  .btn-floating i {
    width:auto;
  }
}
.create-trip-section {
  padding-top:50px;
}

.step-1 {
  .choose-path-container {
    left: 0;
  }

  .create-trip-section {
    left: 100vw;
  }

i.fa {
  font-size:20px !important;
}
  .backBtn {
    display: none;

  }
}

.step-2 {
  .choose-path-container {
    left: -100vw;
  }

  .create-trip-section {
    left: 0;
  }
}

.path-btn {
  height:160px;
  width:100%;
  background-color:teal;
  border-radius:12px;
}

.path-forms {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: teal;
  border-radius:15px;
  opacity: 0.9;
  padding: 20px;
  width: 350px;
  height:375px;
  margin: 0 auto;
  h1 {
    color: #fff;
    font-weight: 200;
    letter-spacing: 3.5px;
    font-size: 32px;
    text-align: center;
    margin: 10px;
  }
}

.input-field {
  width:80%;
  margin:0 auto;
  margin-top:30px;
  label {
    color:#80CBC4;
  }
}

@media (max-width:620px){
  .dash-section {
    min-height:auto !important;
  }
}

@media (max-width:620px) {
   .combine-customize-sections {
    display:flex;
    flex-direction: column-reverse;
   }
   .cartPlaces {
     display:flex;
     flex-direction:row !important;
     overflow-x:auto !important;
     overflow:scroll !important;
     width:100% !important;
   }
   .cartPlaces li {
     width:115px ;
     margin:10px;
   }
   .dash-section {
     width:90vw;
     overflow-x:hidden;
     min-height:120px;
   }


   .cartPlaces button {
     margin-top:-19px;
     margin-left:90px;
   }
   .h3 {
     display:none;
   }
   button.submit {
     margin:10px auto !important;
     width:250px;
   }

}



     ::-webkit-scrollbar {
         width: 0px;  /* remove scrollbar space */
         background: transparent;  /* optional: just make scrollbar invisible */
     }


.direction-bar {
  height:70px;
  width:100%;
  background-color: transparent;
  color:#fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:1.3em;
  text-align: center;
}

.dash-section {
  display:flex;
  justify-content: center;
  border: 1px dashed teal;
  border-radius: 10px;
  padding: 20px;
  min-height: 300px;
}


.cartPlaces {
  display: flex;
  flex-direction: column;
  width: 130px;
  margin: 0 auto;


  li {
    cursor:pointer;
    border-radius: 15px;
    border: 1px solid teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 4px #eee;
    min-height:120px;
    min-width:120px;

  }
  .dash-item-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left:0;
  }
  .dash-item-img {
    margin-top: -15px;
  }
  button {
    margin-top: -17px;
    margin-left: 140px;
  }
  span {
    text-align:center;
  }
}
.selections h3 {
  font-size:28px;
  text-align: center;
}

.cart-selections-container{
  margin-top: 20px;
  display:flex;
  flex-direction: column;
  button.submit {
    margin: 5px 0 10px 0;
  }
}

.dash-item-img {
  height: 75px;
  width: 75px;
  margin-top: -10px;
  background-size: 15vw;
  background-repeat: no-repeat;
  background-position: center center;
}


.dash-item-text {
  display:flex;
  flex-direction:column;
  margin-left:20px;
}

.dash-btn {
  display: flex;
  justify-content: center;
}

npm .dash-city-name {
  text-align:center;
}


// .container-fluid {
//   display:flex;
//   width:100%;
//   justify-content: space-between;
// }
