.combine-customize-sections {
  display:flex;
  justify-content: space-around;
}

@media (max-width:620px) {
   .combine-customize-sections {
    display:flex;
    flex-direction: column-reverse;
   }
   .cartPlaces {
     display:flex;
     flex-direction:row;
     overflow-x:auto;
     overflow:scroll;
     width:90vw;
   }
   .cartPlaces li {
     width:115px;
     margin:10px;
   }
   .dash-section {
     width:100vw;
     overflow-x:hidden;
   }
   .cartPlaces button {
     margin-top:-19px;
     margin-left:90px;
   }
   .h3 {
     display:none;
   }
   button.submit {
     margin:10px auto !important;
     width:250px;
   }

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-figure {
  flex-basis: calc(33.333% - 4rem);
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.03);
  position: relative;

}

.single-photo {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  background: white;
}

  .grid-figure
    box-shadow none
    margin 0 2rem 0 0
    border 0
    padding 0
    flex 1 0 60%
    max-width 60%
  .comments
    flex 1 0 40%
    max-width 40%
  .grid-photo
    width 100%
    margin 0




.grid-photo {
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-top: -2rem;
  max-width: none;
}

.grid-photo-wrap {
    position: relative
}
