.dashboard-map-sidebar-container {
  display:flex;
}
.combine-map-and-sidebar {
  display:flex;
  width:100%;
}
.comments-section {
  display:none;
}

.dash-map {
  display: 'flex';
  flexDirection: 'column';
  flexGrow: '1';

}

.google-map-container {
  overflow-y: scroll;
  display: flex;
  margin: 0;
  margin-top: 70px;

  height: calc(100vh);
  width: 100%;

  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;

  flex-direction: column;

  @media (min-width: 35.5em) {
    flex-direction: row;
  }
  // width: calc(100vw - 300px);
  // height: calc(100vh - 73px);
}
.side-nav {
  margin-top: 70px;
  height: calc(100vh - 70px);
  h2 {
    font-size:1.36rem;
    text-align: center;
    margin: 10px 30px;
  }
  .dash-item-text {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;

  }
  .places-title {
    background-color:#eee;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
  }

}
img#share-icon {
  margin-top:-20px;
}
img#download-icon {
  margin-top: -20px;
}
ul.selected-places-container {
  cursor:move;
}
#dash-sidemenu-btn {
  position: absolute;
  margin-left: 27px;
  bottom: 40px;
}

#extras-btn {
  right: 50px;
  bottom: 40px;
}
