.home-page-header {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  color: #fff;
  background-image: url('/static/images/travel2.gif');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-header .header-content {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 100px 15px 70px;
  text-align: center;
}

.home-page-header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 300;
  background-color: rgba(195, 195, 195, 0.5);
  //  text-align: left;
}

.home-page-header .header-content .header-content-inner p {
  // margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  // color: rgba(255,255,255,.7);
}
@media(min-width:768px) {
  .home-page-header {
    min-height: 100%;
  }

  // .home-page-header .header-content {
  //   position: absolute;
  //   top: 50%;
  //   padding: 0 -50px;
  //   -webkit-transform: translateY(-50%);
  //   -ms-transform: translateY(-100%);
  //   transform: translateY(-50%);
  // }

  // .home-page-header .header-content .header-content-inner {
  //   margin-right: auto;
  //   margin-left: auto;
  //   max-width: 1000px;
  // }

  .home-page-header  .header-content .header-content-inner h1 {
    font-size: 100px;
  }

  // .home-page-header  .header-content .header-content-inner p {
  //   margin-right: auto;
  //   margin-left: auto;
  //   max-width: 80%;
  //   font-size: 18px;
  // }
}

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
  border-color: #eee;
  color: #222;
  background-color: #eee;
}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default.disabled.active,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled],
.btn-default[disabled].active,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  border-color: #fff;
  background-color: #fff;
}

.btn-default .badge {
  color: #fff;
  background-color: #222;
}

.btn-primary {
  border-color: yellowgreen;
  color: #fff;
  background-color: yellowgreen;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  border-color: limegreen;
  color: #fff;
  background-color: limegreen;
}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  border-color: yellowgreen;
  background-color: yellowgreen;
}

.btn-primary .badge {
  color: yellowgreen;
  background-color: #fff;
}

.btn {
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-lg {
  padding: 15px 30px;
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img::selection {
  color: #fff;
  background: 0 0;
}

img::-moz-selection {
  color: #fff;
  background: 0 0;
}

.text-primary {
  color: yellowgreen;
}

.bg-primary {
  background-color: yellowgreen;
}

.intro {
  // position: absolute;
  // top: 60px;
  color: #fff;
  // background-color: #c3c3c3;
  padding: 70px 0;
  margin-left: 50%;
  text-align: center;
}

#intro-content {
  background-color: rgba(195, 195, 195, 0.5);
  padding: 15px;
}

.content {
  padding: 100px 0;
}

.content-2 {
  color: #fff;
  background-color: #222;
}

.content-3 {
  padding: 20px 0 40px;
  text-align: center;
}
