#siteNav {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width:100%;
  background-color:#5FC69B;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size:3em;
    font-family: 'Dancing Script', cursive;
    color:#fff;
  }
}
